@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}@font-face {
    font-family: 'lato-light';
    src: url('lato-light'),
    url('../fonts/Lato-Light.ttf') format('ttf'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}