@import url(fonts.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__top{
    background-color:#194277;
    color:white;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:1% 0;
}
.header__title{
    font-size: 14px;
    font-family: Lato-Regular;
}
.header__button{
    color:#194277;
    font-size: 12px;
    font-family: Lato-Bold;
    border:none;
    background-color: #fff;
    border-radius: 25px;
    width:10%;
    padding:0.5% 0;
    margin-left: 2%;
}
.header__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding: 2% 0;
}
.header__box{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header__container__title{
    font-size: 50px;
    font-family: Lato-Black; 
    text-align: center;
    width:60%;
    margin-top: 2%;
}
.header__container__text{
    font-size: 16px;
    font-family: Lato-Light; 
    text-align: center;
    text-transform: uppercase;
    width:55%;
    margin-top: 2%;
}
.header__container__button{
    color:#3695ff;
    font-size: 16px;
    font-family: Lato-Bold;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    width:10%;
    padding:0.8% 0;
    margin:4% 0;
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    background-color: #fff;
    width:90%;
    margin: 0 -92%;
}
.drop__link{
    text-decoration: none;
    color:white;
    font-size: 50px;
    color: #d2d2d2;
    font-family: Lato-Light; 
    margin:1% 0;
}
.fa-bars{
    color:white;
    margin-left: -90%;
}
.dropdown{
    visibility: visible;
    float: right;  
}
.fa-stack,
.fa-times{
    color:#d2d2d2;
}
.fa-times{
    margin:2% 0 2% 95%;
}
.drop__link:hover,
.fa-stack:hover,
.fa-times:hover,
.language__text:hover{
    color:#3687fe;
}
.language__text{
    color: #d2d2d2;
    font-family: Lato-Regular; 
}
.dropdown__language{
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 85%;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
}
.block {
    max-width: 100%;
    padding: 0 10%;
}
.block_latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.block__title {
    font-family: 'lato-light';
    font-size: calc(15px + 50 * (100vw / 1800));
    color: #3695ff;
    padding: 90px 0 10% 0;
}
.list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    max-width: 100%;
}
.list li{
    width: 30%;
}
.list img{
    width: 100%;
    height: auto;
}
.list li:nth-child(2){
    margin: 0 5%;
}
.list:nth-child(3){
    padding: 5% 0 200px 0;
}
.block_expertise {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    background-color: #f1f8ff;  
    padding: 5vw 20vw;     
}
.block__title_expertise {
    padding: 0;
}
.list_expertise{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 100%;
    gap: 1.5%;
    flex-wrap: wrap;
    margin-top: 3vw;
}
.list_expertise li:nth-child(2){
    margin: 0;
}
.list_expertise:nth-child(3){
    padding: 0;
}
.expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 5vw;    
}
.expertise__image {
    height: 140px;
    width: 140px;
    border: 2px solid #b7c0c9;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
}
.expertise__image:hover {
    background-color: #3677fd;
}
.expertise__image:hover .expertise__icon{
    fill: #ffffff;
}
.expertise__icon {
    fill: #3677fd;
    height: 50%;    
    width: 100%;    
}
.expertise__title {
    font-family: "Lato-Bold";
    font-size: 24px;
    text-transform: uppercase;    
    color: #3677fd;
}
.expertise__description {
    font-family: "Lato-Regular";    
    font-size: 16px;
    line-height: 35px;
}